<div class="main-container">
    <header class="header header-6">
        <div class="branding">
            <a href="..." class="nav-link">
                <clr-icon shape="blocks-group" ></clr-icon>
                <span class="title">Actor Register Web</span>
            </a>
        </div>
    </header>
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
        <nav class="sidenav">
            <section class="sidenav-content">
                <service-tree></service-tree>
            </section>
        </nav>
    </div>
    <system-status-bar></system-status-bar>
</div>
<app-notify-dialog></app-notify-dialog>
