/.gradle
/.idea
*.log
/aregister/build
/aregister/logs
/aregister-client/build
/aregister-redis/build
/demo-client/build
/demo-service/logs
/demo-service/build
/demo-client/config
aregister/config/net.arksea.dsf.DemoService-1.0.svc
aregister-web/src/main/angular/aregister-web/.alm/sessionsV2.json
/aregister-web/build
/aregister-web/online
